@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,600&display=swap");

body.active {
  padding-left: 285px;
}
:root {
  --main_color: #56a0d3;
  --sub_color: #c4dff6;
  --trans: 0.5s;
}
body {
  --back-c: #eee;
  --change-c: white;
  --black-colro: #2c3e50;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--back-c);
  font-family: "Nunito", sans-serif;
}
body.dark_mode {
  --back-c: #333;
  --change-c: #222;
  --black-colro: white;
  background-color: var(--back-c);
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: aquamarine;
}
::-webkit-scrollbar-track {
  background-color: gainsboro;
}
* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}
.general_button {
  background-color: var(--main_color);
  text-align: center;
  height: 43px;
  width: 135px;
  border-radius: 4px;
  display: block;
  line-height: 42px;
  color: white;
  margin: 15px 0px;
  transition: var(--trans);
}
.general_button:hover {
  background-color: var(--sub_color);
  color: var(--main_color);
  cursor: pointer;
}
.container {
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* common elemnt  */

.d_block {
  display: block;
}

.d_hide {
  display: none;
}
.d_flex_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.m-5 {
  margin: 5px;
}
.m-10 {
  margin: 10px;
}
.m-15 {
  margin: 15px;
}
.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.t-left {
  text-align: left;
}
.d-none {
  display: none;
}

/* start media query  */
@media (max-width: 767px) {
}
@media (min-width: 768px) {
  .container {
    width: 720px !important;
  }
}
@media (min-width: 992px) {
  .container {
    width: 950px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1150px !important;
  }
}
/* end media query  */
/* common  */

/* start dashboard  */

/* start slide bar  */
.slide {
  width: 280px;
  text-align: center;
  box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.06);
  height: 100vh;
  background-color: var(--change-c);
  position: fixed;
  left: -350px;
  top: 0px;
  z-index: 77;
  transition: var(--trans);
}
.slide.active {
  left: 0;
}
/* .header_content {
  padding-left: 280px !important;
} */
.slide > i {
  position: absolute;
  right: 20px;
  top: 20px;
  font-weight: bolder;
  color: red;
  background: black;
  padding: 10px;
  border-radius: 50%;
  color: white;
  display: none;
}

.slide div {
  padding: 20px;
}
.slide div img {
  width: 92px;
  border-radius: 50%;
  background: var(--main_color);
  padding: 3px;
  margin-bottom: 10px;
}
.slide div span {
  color: #777;
  font-size: 20px;
  margin: 10px auto;
}
.slide div button {
  display: block;
  margin: 20px auto;
  width: 90%;
  background-color: var(--main_color);
  border: none;
  height: 43px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  transition: var(--trans);
}
.slide div.avatar .general_button {
  width: 100% !important;
}
.slide div button:hover {
  background-color: var(--sub_color);
  color: var(--black-colro);
  cursor: pointer;
}
.slide ul {
  text-align: left;
}
.slide ul li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: var(--trans);
}
.slide ul li:hover {
  background-color: var(--back-c);
}
.slide ul li a {
  padding: 10px;
  display: block;
  text-transform: lowercase;
  font-weight: bold;
  font-size: 18px;
  color: var(--black-colro);
  transition: var(--trans);
}
.slide ul li:hover a {
  padding-left: 25px;
  color: var(--main_color);
}
.slide ul li i {
  color: var(--main_color);
  font-size: 25px;
}
.slide ul li:hover i {
  color: var(--black-colro);
}
/* end slide bar  */

/* start header */
.header_content {
  position: sticky;
  top: 0px;
  left: 0px;
}
header {
  background-color: var(--change-c);
  height: 75px;
  display: flex;
  align-items: center;
}
.avatar.r {
  position: absolute;
  top: 78px;
  right: 20px;
  width: 220px;
  background: var(--change-c);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: var(--trans);
}
.avatar.r.show {
  visibility: visible;
  opacity: 1;
}
.avatar.r img {
  width: 90px;
  border-radius: 50%;
}
.avatar h3 {
  color: var(--black-colro);
}
.avatar.r a:not(:first-of-type) {
  width: 48%;
  background-color: orange;
  display: inline-block;
  margin-top: 5px !important;
  cursor: pointer;
  transition: var(--trans);
}
.avatar.r a:not(:first-of-type):hover {
  background: var(--black-colro);
  color: white;
}
.avatar.r a:first-of-type {
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

header h2 {
  color: var(--black-colro);
}
header .form_search {
  position: relative;
  width: 300px;
  padding-left: 20px;
  overflow: hidden;
  border: 2px solid var(--back-c);
  border-radius: 5px;
  background-color: var(--back-c);
  height: 45px;
}
header .form_search input {
  width: 100%;
  border: none;
  height: 100%;
  background-color: var(--back-c);
}
@media (max-width: 767px) {
  header .form_search input,
  header .form_search {
    background-color: var(--change-c);
  }
}
header .form_search input:focus::placeholder {
  opacity: 0;
}
header .form_search input:focus {
  outline: none;
}
header .form_search i {
  position: absolute;
  font-size: 25px;
  color: var(--black-colro);
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
header .container ul {
  display: flex;
}
header .container ul li {
  padding: 10px;
  background-color: var(--back-c);
  margin-right: 5px;
  border-radius: 5px;
  border: 2px solid var(--back-c);
  transition: var(--trans);
}
header .container ul li:hover {
  border: 2px solid var(--main_color);
  cursor: pointer;
}
header .container ul li:hover i {
  color: var(--main_color);
}
header .container ul li i {
  font-size: 23px;
  color: var(--black-colro);
}

@media (max-width: 767px) {
  header .form_search {
    position: fixed;
    top: -60px;
    left: 50%;
    width: 90%;
    transition: var(--trans);
    transform: translateX(-50%);
    z-index: 0;
  }
  header .form_search.active {
    top: 90px;
  }
  .slide > i {
    display: block;
  }
  .d-none {
    display: block;
  }
}
@media (max-width: 1200px) {
  body {
    padding-left: 0px;
  }
}
/* end header  */
/* start start_option*/
.start_option {
  padding: 40px 0px;
}
.main_head {
  position: relative;
  margin-bottom: 50px;
  margin-top: 40px;
  color: var(--black-colro);
}
.main_head::before,
.main_head::after {
  position: absolute;
  left: 5px;
  bottom: -20px;
  content: "";
  height: 3px;
  width: 130px;
  background-color: white;
  z-index: 2;
}
.main_head::before {
  background: var(--main_color);
  width: 70px;
  z-index: 3;
}
.start_option .container_option {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, auto));
  gap: 20px;
}
.start_option .container_option > div {
  background-color: var(--change-c);
  height: fit-content;
  padding: 15px;
  border-radius: 5px;
}
.start_option .container_option > div h3 {
  margin-bottom: 15px;
  color: var(--black-colro);
}
.start_option .container_option > div p {
  color: var(--black-colro);
}
.start_option .container_option > div p span {
  color: var(--main_color);
}
.start_option .container_option > div button {
  padding: 10px;
  background-color: var(--main_color);
  transition: var(--trans);
  color: white;
  border-radius: 5px;
  border: none;
  margin-bottom: 17px;
  margin-top: 5px;
  transition: var(--trans);
}
.start_option .container_option > div button:hover {
  background-color: var(--sub_color);
  color: var(--main_color);
  cursor: pointer;
}
.start_option .two_option h3 {
  margin-bottom: 15px;
  font-weight: bold;
}
.start_option .three_option > span,
.start_option .two_option > span {
  padding: 10px;
  background: var(--back-c);
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 5px;
  color: var(--black-colro);
  transition: var(--trans);
}
.start_option .three_option > span i,
.start_option .two_option > span i {
  margin-right: 5px;
}
.start_option .three_option > span:hover,
.start_option .two_option > span:hover {
  background-color: var(--sub_color);
  color: var(--black-colro);
  cursor: pointer;
}
.start_option .four_option p {
  line-height: 2;
  color: var(--black-colro);
}
.start_option .four_option button {
  margin-top: 25px !important;
  display: block;
}

/* end option  */

/* start course  */
.course {
  padding: 40px 0px;
}
.course .courses_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 25px;
}
.course .courses_container > div {
  background-color: var(--change-c);
  padding: 20px;
  border-radius: 8px;
}
.course .courses_container > div > div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.course .courses_container > div > div img {
  width: 65px;
  margin-right: 10px;
  border: 3px;
  border-radius: 50%;
  background-color: var(--main_color);
  display: block;
}
/* .course .courses_container > div > div h3 {

} */
.course .courses_container > div > div span {
  color: var(--black-colro);
  font-size: 12px;
}
.course .courses_container > div h3 {
  color: var(--black-colro) !important;
}
.course .courses_container > div .course-image {
  position: relative;
}
.course .courses_container > div .course-image::after {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 33;
  background-color: #00000059;
  content: "13 Videos";
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.course .courses_container > div .course-image img {
  width: 100%;
  border-radius: 6px;
}
.course .courses_container > div button,
.course .container > button {
  width: 200px;
  height: 45px;
  text-align: center;
  margin: 50px auto;
  border: none;
  border-radius: 5px;
  background-color: var(--main_color);
  color: white;
  display: block;
  transition: var(--trans);
  font-size: 19px;
}
.course .courses_container > div button {
  margin: 20px 5px;
  padding: 10px;
  width: 140px;
}
.course .courses_container > div button:hover,
.course .container > button:hover {
  background-color: var(--sub_color);
  color: var(--main_color);
  cursor: pointer;
}
.course .container a.all {
  width: 200px;
  height: 45px;
  text-align: center;
  margin: 40px auto;
}
/* end course  */

/* start about  */
.about {
  padding: 50px 0px;
}
.about .about_choose {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1200px) {
  .about .about_choose {
    flex-direction: column;
  }
  .about .about_choose > div img {
    width: 475px !important;
  }
}
.about .about_choose > div img {
  width: 550px;
}
.about .about_choose > div h2 {
  margin-bottom: 18px;
  font-weight: bold;
  font-size: 31px;
  color: var(--black-colro);
}
.about .about_choose > div p {
  line-height: 2.2;
  color: #777;
}
.about .about_choose > div button {
  margin-top: 20px;
  width: 150px;
  height: 42px;
  background-color: var(--main_color);
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  transition: 0.5s;
  margin-bottom: 20px;
}
.about .about_choose > div button:hover {
  background: var(--sub_color);
  color: var(--main_color);
  cursor: pointer;
}

.statistic {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 20px;
}
.statistic > div {
  display: flex;
  align-items: center;
  background: var(--change-c);
  padding: 25px;
  border-radius: 5px;
}
.statistic > div i {
  margin-right: 15px;
  font-size: 36px;
  color: var(--main_color);
}
.statistic > div h3 {
  margin-bottom: 5px;
  font-size: 24px;
  color: var(--black-colro);
}
.statistic > div p {
  color: var(--black-colro);
}
/* end about  */
/* start review  */
.review {
  padding: 50px 0px;
}
.review_content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  gap: 20px;
}
.review_content > div {
  padding: 20px;
  border-radius: 5px;
  background-color: var(--change-c);
}
.review_content > div > p {
  line-height: 1.8;
  color: var(--black-colro);
}
.review_content > div > div {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.review_content > div > div img {
  width: 60px;
  border-radius: 50%;
  display: block;
  margin-right: 10px;
}
.review_content > div > div ul {
  display: flex;
}
.review_content > div > div ul li i {
  color: goldenrod;
}
/* end review */
/* start teacher section  */
.profile,
.teacher {
  margin-top: 80px;
}
.teacher .teacher_search {
  position: relative;
  width: 100%;
  height: 45px;
}
.teacher .teacher_search i {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 29px;
  transform: translateY(-50%);
  color: var(--main_color);
}
.teacher .teacher_search input:focus {
  outline: none;
}
.teacher .teacher_search input:focus::placeholder {
  opacity: 0;
}
.teacher .teacher_search input {
  width: 100%;
  border: none;
  padding-left: 19px;
  height: 100%;
  background-color: var(--change-c);
}
.teacher .teacher_content {
  padding: 50px 0px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}
.teacher .teacher_content > div {
  background-color: var(--change-c);
  border-radius: 5px;
  padding: 20px;
  height: fit-content;
}
.teacher .teacher_content > div button {
  margin-top: 25px;
  background-color: var(--main_color);
  color: var(--change-c);
  width: 130px;
  height: 42px;
  line-height: 42px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  transition: var(--trans);
}
.teacher .teacher_content > div button:hover {
  color: var(--main_color);
  background-color: var(--sub_color);
  cursor: pointer;
}
.teacher .teacher_content > div h2 {
  margin-bottom: 15px;
  font-weight: bold;
}
.teacher .teacher_content > div p {
  line-height: 1.8;
  color: var(--black-colro);
}
.teacher .teacher_content > div > div {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.teacher .teacher_content > div > div p {
  margin-top: 0px;
}
.teacher .teacher_content > div > div h3 {
  color: var(--black-colro);
}
.teacher .teacher_content > div > div img {
  margin-right: 10px;
  width: 50px;
  border-radius: 50%;
}
.teacher .teacher_content > div p {
  letter-spacing: 1px;
}
.teacher .teacher_content > div p span {
  color: var(--main_color);
  margin-left: 15px;
}

/* start contact_content  */
.contact {
  padding: 80px 0px;
}
.contact_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .contact_content {
    flex-direction: column !important;
  }
  .contact_content > div {
    width: 95% !important;
  }
  footer h2 {
    font-size: 20px;
    color: var(--black-colro);
  }
}
.contact_content > div {
  flex-basis: 48%;
  padding: 10px;
  border-radius: 8px;
}
.contact_content > div:nth-child(2) {
  background-color: var(--change-c);
}
.contact_content > div img {
  max-width: 100%;
  display: block;
}
.contact_content form {
  width: 90%;
  background-color: var(--change-c);
  margin: 10px auto;
}
.contact_content form label {
  text-align: center;
  font-size: 28px;
  text-align: center;
  margin: 25px auto;
  display: block;
}
.contact_content form input {
  width: 100%;
  height: 43px;
  background-color: var(--back-c);
  display: block;
  border: none;
  border-radius: 5px;
  text-indent: 17px;
  margin-bottom: 10px;
}
.contact_content form input:focus::placeholder {
  opacity: 0;
}
.contact_content form input:focus,
.contact_content form textarea:focus {
  outline: none;
}
.contact_content form textarea {
  width: 100%;
  text-indent: 17px;
  background-color: var(--back-c);
  height: 250px;
  border: none;
  padding-top: 5px;
}

.contact_content form textarea:focus::placeholder {
  opacity: 0;
}
.contact_content > div button {
  background-color: var(--main_color);
  color: white;
  width: 150px;
  height: 42px;
  line-height: 42px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  transition: var(--trans);
  margin: 25px auto !important;
  display: block;
}
.contact_content > div button:hover {
  color: var(--main_color);
  background-color: var(--sub_color);
  cursor: pointer;
}
.contact .labels {
  display: grid;
  margin-top: 80px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
}
.contact .labels > div {
  background-color: var(--change-c);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}
.contact .labels > div i {
  font-size: 32px;
  color: var(--main_color);
  display: block;
  margin-bottom: 25px;
}
.contact .labels > div p {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 23px;
  color: var(--black-colro);
}
.contact .labels > div span {
  color: var(--black-colro);
  display: block;
}
/* end contact_content  */
/* end tacher section  */

/* start profile  */
.profile_content {
  padding: 20px;
  background-color: var(--change-c);
  text-align: center;
}
.profile_content img {
  width: 100px;
  border-radius: 50%;
}
.profile_content h3 {
  margin: 5px;
}
.profile_content span {
  display: block;
  color: var(--black-colro);
  margin: 5px auto;
}
.profile_content span + a {
  background-color: var(--main_color);
  text-align: center;
  height: 43px;
  width: 120px;
  border-radius: 4px;
  display: block;
  line-height: 42px;
  color: white;
  margin: 5px auto;
  transition: var(--trans);
}
.profile_content span + a:hover {
  background-color: var(--sub_color);
  color: var(--main_color);
  cursor: pointer;
}
.profile_content .likes {
  display: grid;
  margin: 40px auto;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}
.profile_content .likes > div {
  background-color: var(--back-c);
  padding: 15px;
  border-radius: 5px;
  text-align: left;
}
.profile_content .likes > div > div {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.profile_content .likes > div > div i {
  font-size: 40px;
  color: var(--main_color);
}
.profile_content .likes > div > div > div {
  margin-left: 10px;
}
.profile_content .likes > div > div span {
  display: block;
  margin-top: 0px;
  padding: 0px;
  font-size: 29px;
  color: var(--main_color);
  margin: 0px;
}
.profile_content .likes > div > div p {
  color: var(--black-colro);
}
/* end profile  */
/* start Update profile  */
.update {
  padding: 40px 0px;
}
.update form {
  width: 55%;
  padding: 20px;
  background-color: var(--change-c);
  margin: 40px auto;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .update form {
    width: 80%;
  }
}
.update form h2 {
  text-align: center;
  margin: 20px auto;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}
.update form label {
  margin-bottom: 8px;
  color: #777;
  display: block;
  font-size: 17px;
}
.update form input {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  background-color: var(--back-c);
  height: 43px;
  border: none;
  text-indent: 10px;
  border-radius: 5px;
  transition: var(--trans);
}
.update form input:focus {
  outline: none;
}
.update form input:focus::placeholder {
  opacity: 0;
}

.update form input[type="file"] {
  line-height: 43px;
}
.update form a {
  width: 100% !important;
}
/* end update profile  */

/* start register section  */
.astrisk {
  margin-left: 15px;
  color: red;
  display: inline-block;
}
/* start palylist  */
.playlist {
  padding: 100px 0px;
}
.details {
  background-color: var(--change-c);
  padding: 20px;
}
.details i {
  padding: 15px;
  border-radius: 5px;
  background-color: var(--back-c);
  color: var(--black-colro);
}
.details i span {
  margin-left: 10px;
  text-transform: lowercase;
  font-size: 13px;
  transition: var(--trans);
}
.details i:hover {
  background-color: #2c3e50;
  color: white;
  cursor: pointer;
}

.details .details_content {
  display: flex;
  justify-content: space-between;
}
.details .details_content > div {
  width: 48%;
  margin-top: 20px;
}
@media (max-width: 992px) {
  .details .details_content {
    flex-direction: column;
  }
  .details .details_content > div {
    width: 98%;

    margin-bottom: 10px;
  }
}
.details .details_content .image_content {
  position: relative;
}
.details .details_content .image_content::after {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 15px;
  background-color: var(--black-colro);
  color: white;
  content: "10 Videos";
  border-radius: 10px;
}
.details .details_content .image_content > img {
  display: block;
  width: 100%;
  border-radius: 10px;
}
.details .context .context_img {
  display: flex;
  align-items: center;
}
.details .context .context_img img {
  width: 70px;
  border-radius: 50%;
}
.details .details_content h4 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 23px;
  color: var(--main_color);
}
.details .details_content p {
  color: var(--black-colro);
  line-height: 1.9;
}

.details .context .context_img div {
  margin-left: 10px;
}
.details .context .context_img div h3 {
  font-size: 22px;
  color: var(--black-colro);
}
.details .context .context_img div span {
  font-size: 15px;
  display: block;
  color: var(--black-colro);
}

.playlist .playlist_video {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 25px;
}
.playlist .playlist_video > div {
  background-color: var(--change-c);
  padding: 20px;
}
.playlist .playlist_video > div a {
  position: relative;
  width: 100%;

  display: block;
}
.playlist .playlist_video > div a::after {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 98%;
  content: "";
  z-index: 2;
  transition: var(--trans);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.playlist .playlist_video > div a:hover::after {
  opacity: 1;
}
.playlist .playlist_video > div a:hover i {
  opacity: 1;
}
.playlist .playlist_video > div img {
  width: 100%;
  height: 100%;
}
.playlist .playlist_video > div a:hover + p {
  color: red;
}
.playlist .playlist_video > div i {
  position: absolute;
  top: 50%;
  transition: var(--trans);
  left: 50%;
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
  z-index: 3;
}
.playlist .playlist_video > div p {
  padding: 10px;
  color: var(--black-colro);
}
/* star Profile_Details */
.Profile_Details .brief {
  padding: 40px 0px;
  text-align: center;
  background-color: var(--change-c);
  width: 100%;
  border-radius: 10px;
}
.Profile_Details .brief img {
  width: 80px;
  border-radius: 50%;
}
.Profile_Details .brief h2 {
  color: var(--main_color);
}
.Profile_Details .brief > p {
  color: var(--black-colro);
}
.Profile_Details .brief .sub {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
  margin: 20px 10px;
}
.Profile_Details .brief .sub > div {
  padding: 10px;
  background-color: var(--back-c);
  border-radius: 8px;
  transition: var(--trans);
}
.Profile_Details .brief .sub > div:hover {
  background-color: #2c3e50;
  color: white;
  cursor: pointer;
}
.Profile_Details .brief .sub > div:hover P {
  color: white;
}
.Profile_Details .brief .sub > div p {
  font-size: 19px;
  color: var(--black-colro);
}
.Profile_Details .brief .sub > div span {
  color: var(--main_color);
  font-size: 18px;
}

/* Profile_Details */

/* start video-container  */
.video-container {
  padding: 20px 0px;
}
.video-container .video_content {
  padding: 20px;
  background-color: var(--change-c);
  margin-top: 80px;
}
.video-container .video_content video {
  width: 100%;
}
.video-container .video_content .brief_video {
  padding: 10px;
  border-bottom: 1px solid var(--black-colro);
}
.video-container .video_content .brief_video p {
  font-weight: bold;
  margin: 10px 0px;
  font-size: 18px;
  color: var(--main_color);
}
.video-container .video_content .brief_video span {
  margin-right: 10px;
  color: var(--black-colro);
}
.video-container .video_content .brief_video span i {
  color: var(--main_color);
  margin-right: 0px;
}
.video-container .turtor {
  padding: 20px 0px;
}
.video-container .turtor > div {
  display: flex;
  align-items: center;
}
.video-container .turtor > div > div {
  margin-left: 10px;
}
.video-container .turtor > div > div h4 {
  font-size: 23px;
  font-weight: bold;
  color: var(--black-colro);
}
.video-container .turtor > div > div p {
  color: var(--main_color);
}
.video-container .turtor > div img {
  width: 60px;
  border-radius: 50%;
}
.video-container .turtor > div i {
  margin-left: auto;
  background-color: var(--back-c);
  color: var(--black-colro);
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--trans);
  width: 60px;
}
.video-container .turtor > div i:hover {
  background-color: var(--black-colro);
  color: var(--back-c);
  cursor: pointer;
}
.video-container .turtor > div i span {
  text-transform: lowercase !important;
}
.video-container .turtor p.last {
  color: var(--black-colro);
  line-height: 1.9;
  margin-top: 20px;
  background-color: var(--back-c);
  padding: 20px;
  border-radius: 8px;
}
@media (max-width: 991px) {
  .video-container .turtor p.last {
    padding: 13px;
  }
}

.comments {
  position: relative;
  padding-bottom: 20px;
}
.comments .container_comment {
  background-color: var(--change-c);
  padding: 20px;
}
.comments .container_comment form {
  width: 100%;
}
.comments .container_comment form textarea {
  width: 90.5%;
  border-radius: 8px;
  display: block;
  background-color: var(--back-c);
  border: none;
  height: 120px;
  padding: 19px;
}
.comments .container_comment form textarea:focus {
  outline: none;
}
.person_comments {
  background-color: var(--change-c);
  padding: 15px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}

.person_comments .comment_per {
  padding: 15px 0px;
  position: relative;
}
.person_comments .comment_per button {
  position: absolute;
  top: 30px;
  width: 80px;
  height: 40px;
  border-radius: 6px;
  background-color: orange;
  color: black;
  border: none;
  right: 40px;
  transition: var(--trans);
}
.person_comments .comment_per button:hover {
  background-color: #56a0d3;
  color: white;
  cursor: pointer;
}
.person_comments .comment_per p {
  background: var(--back-c);
  position: relative;
  padding: 20px;
  margin-top: 18px;
  border-radius: 10px;
  font-size: 21px;
}
.person_comments .comment_per p::after {
  position: absolute;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent var(--back-c) transparent;
  top: -20px;
  left: 29px;
  content: "";
  content: "";
}
.comment_per > div {
  display: flex;
  align-items: center;
}
.comment_per > div span {
  color: var(--main_color);
  font-size: 14px;
}
.comment_per > div img {
  width: 75px;
  border-radius: 50%;
  margin-right: 10px;
}
.comment_per > div h3 {
  font-weight: 600;
  color: black;
  font-size: 20px;
  color: var(--black-colro);
}

/* end video-container */
/* start footer  */
footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  height: 60px;
  background-color: var(--change-c);
  justify-content: center;
  left: 0px;
  align-items: center;
  width: 100%;
}
footer h2 {
  color: var(--black-colro);
}
footer h2 span {
  color: var(--main_color);
}
/* end footer  */
